<%= load_pack("admin_review") %>

<div class="paragraphs">
  <% if @purchases.present? %>
    <% @purchases.each do |purchase| %>
      <%= render("admin/purchases/purchase", purchase: purchase) %>
    <% end %>
  <% else %>
    <%= render("admin/empty_state", message: "No purchases or service charges found.") %>
  <% end %>
</div>
